<div class="bg-music-confirm">
    <p>Autoplay Music?</p>
    <p><a class="bg-music-yes">Yeah!</a> <a class="bg-music-no">Nope</a> </p>
</div>

<!-- HOME BG MUSIC -->
<!--   Otomatik Oynatici   <div id="play-music" class="play-music autoplay">-->
<div id="play-music" class="play-music">
    <div id="music-animation" class="music-animation">
        <span class="music-bar bar1"></span>
        <span class="music-bar bar2"></span>
        <span class="music-bar bar3"></span>
        <span class="music-bar bar4"></span>
        <span class="music-bar bar5"></span>
    </div>
    <div class="music-toggle" id="music-toggle">
        <a id="toggle" data-on-text="Music on"
           data-off-text="Music off">Music off</a>
    </div>
</div>

<audio id="bg-music" loop src="/ikonik/audio/music2.mp3"></audio>