
<p class="home-social">
    <a class="social-link facebook" href="#"></a>
    <a class="social-link linkedin" href="#"></a>
    <a class="social-link behance" href="#"></a>
    <a class="social-link dribbble" href="#"></a>
</p>