<meta charset="utf-8" />
<title>@ViewData["Title"] - netcore_portfolio</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ikonik - Responsive HTML5 vCard Template">
<meta name="keywords" content="vcard, html5, portfolio">
<meta name="author" content="Pixelwars">
<meta name="theme-color" content="#1755cf" />
<!-- FAV and TOUCH ICONS -->
<link rel="shortcut icon" href="/ikonik/images/ico/favicon.ico">
<link rel="apple-touch-icon" href="/ikonik/images/ico/apple-touch-icon.png">
<!-- FONTS -->
<link rel="stylesheet" href="/ikonik/css/fonts/jost/jost.css">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="/ikonik/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/ikonik/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/ikonik/js/nprogress/nprogress.css">
<link rel="stylesheet" type="text/css" href="/ikonik/js/jquery.magnific-popup/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/ikonik/css/fonts/fontello/css/fontello.css">
<link rel="stylesheet" type="text/css" href="/ikonik/css/main.css">
<link rel="stylesheet" type="text/css" href="/ikonik/css/768.css">
<!-- INITIAL SCRIPTS -->
<script src="/ikonik/js/jquery.js"></script>