<nav class="home-menu">
    <a href="/Home/About/" data-slug="about">
        <span class="item-name">About</span>
    </a>
    <a href="resume.html" data-slug="resume">
        <span class="item-name">Resume</span>
    </a>
    <a href="portfolio.html" data-slug="portfolio" id="portfolio-link">
        <span class="item-name">Portfolio</span>
    </a>
    <a href="blog-latest.html" data-slug="blog">
        <span class="item-name">Blog</span>
    </a>
    <a href="contact.html" data-slug="contact">
        <span class="item-name">Contact</span>
    </a>
</nav>