<nav class="home-menu">
    <a href="/Home/About/" data-slug="about">
        <span class="item-name">About</span>
    </a>
    <a href="/Home/Resume/" data-slug="resume">
        <span class="item-name">Resume</span>
    </a>
    <a href="/Home/Portfolio/" data-slug="portfolio" id="portfolio-link">
        <span class="item-name">Portfolio</span>
    </a>
    <a href="/Home/Blog/" data-slug="blog">
        <span class="item-name">Blog</span>
    </a>
    <a href="/Home/Contact" data-slug="contact">
        <span class="item-name">Contact</span>
    </a>
</nav>