@{
    ViewData["Title"] = "Home Page";
}

<div class="home-heading">

    <!-- .home-logo -->
    <div class="home-logo">

        <p class="home-job-title">Web Developer</p>

        <p class="home-marquee">
            Building creative websites for the world's people. Always in search
            of the great user experience.
            Building creative websites for the world's people. Always in search
            of the great user experience.
        </p>

        <i class="home-logo-left "><span>Web</span></i>
        <i class="home-logo-center">
            <span class="home-icon">
                <img src="/ikonik/images/home/icon.svg" alt="icon" />
            </span>
            <span class="home-text-container">
                <span class="home-text-container-placeholder">Jason Whallberg</span>
            </span>
            <span class="home-text">Jason Whallberg</span>
        </i>
        <i class="home-logo-right"><span>Developer</span></i>

    </div>
    <!-- .home-logo -->

</div>
