<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Anasayfa
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Özgeçmiş
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Portfolyo
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-ellipsis-h"></i>
                <p>
                    Sosyal Hesaplar
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Blog
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
                <i class="nav-icon far fa-envelope"></i>
                <p>
                    Mesajların
                    <span class="right badge badge-danger">0</span>
                </p>
            </a>
        </li>
        <li class="nav-header">Diğer</li>

        <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
                <i class="nav-icon fa fa-user-circle"></i>
                <p>
                    Kullanıcı Ayarları
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
                <i class="nav-icon fa fa-cogs"></i>
                <p>
                    Website Ayarları
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/kanban.html" class="nav-link">
                <i class="nav-icon far fa-comments"></i>
                <p>
                    Mail Ayarları
                </p>
            </a>
        </li>

    </ul>
</nav>