
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section title{ Özgeçmiş }
@section pagetitle{ Özgeçmiş}
@section sitemap{ Özgeçmiş}


@*<input type="text" id="resumeimage" name="resumeimage" />*@


<div class="container">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">  <img id="resumeimage" name="resumeimage" class="profile-user-img img-fluid img-circle" @*src="/adminlte/dist/img/user4-128x128.jpg"*@ alt="User profile picture"></button>
                    </div>
                    <hr />
                    <button type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-primary btn-block"><b>Resmi Değiştir</b></button>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- About Me Box -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Hazır CV</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-block"><b>Cv İndir</b></a>
                    <a href="#" class="btn btn-primary btn-block"><b>Cv Görüntüle</b></a>
                    <button type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-primary btn-block"><b>Cv Güncelle</b></button>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Genel Bilgiler</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form id="resumeForm">
                        <div class="row">
                            <div class="col-md-6">

                                <!--name-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">İsim</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="İsim Giriniz">
                                </div>
                                <!--Mail-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mail</label>
                                    <input type="email" class="form-control" id="mail" name="mail" placeholder="Mail Giriniz">
                                </div>

                            </div>
                            <div class="col-md-6">

                                <!--surname-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Soyisim</label>
                                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Soyisim Giriniz">
                                </div>
                                <!--phone-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telefon</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefon Giriniz">
                                </div>

                            </div>
                            <div class="col-md-12">
                                <!--location-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Lokasyon</label>
                                    <input type="text" class="form-control" id="location" name="location" placeholder="Lokasyon Giriniz">
                                </div>
                                <!--title-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ünvan</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Ünvan Giriniz">
                                </div>
                                <!--titleDescription-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Özet Ünvan Açıklaması</label>
                                    <input type="text" class="form-control" id="titleDescription" name="titleDescription" placeholder="Kısa Bir Ünvan Açıklaması Giriniz">
                                </div>
                                <!--resumeAbout-->
                                <div class="form-group">
                                    <label>Hakkınızda</label>
                                    <textarea class="form-control" rows="3" id="resumeAbout" name="resumeAbout" placeholder="Kendinizden Bahsedin"></textarea>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" id="updateButton">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>

<!--User Image Update Modal Start-->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Özgeçmiş Resim Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputFile">Özgeçmiş Resim Güncelle</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="resumeImage" name="resumeImage">
                            <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-upload"></i></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" id="saveResumeImage" class="btn btn-success">Resmi Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Image Update Modal Finish-->

<script src="~/js/ResumeSettings.js"></script>
<script>
    $(document).ready(function () {
        getResumeData();
    });
</script>
