@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section title{ Özgeçmiş }
@section pagetitle{ Özgeçmiş}
@section sitemap{ Özgeçmiş}


@*
    <input type="text" id="resumeimage" name="resumeimage" />*@


<div class="container">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-imageResume">  <img id="resumeimage" name="resumeimage" class="profile-user-img img-fluid img-circle" @*src="/adminlte/dist/img/user4-128x128.jpg" *@ alt="User profile picture"></button>
                    </div>
                    <hr />
                    <button type="button" data-toggle="modal" data-target="#modal-imageResume" class="btn btn-primary btn-block"><b>Resmi Değiştir</b></button>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- About Me Box -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Hazır CV</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <a id="resumeCvD" download="Cv" class="btn btn-primary btn-block"><b>Cv İndir</b></a>
                    <a id="resumeCvV" href="" target="_blank" title="Cv Görüntüle" class="btn btn-primary btn-block"><b>Cv Görüntüle</b></a>
                    <button type="button" data-toggle="modal" data-target="#modal-cv" class="btn btn-primary btn-block"><b>Cv Güncelle</b></button>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Görünürlük Ayarı</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label>Yeteneklerin: </label>
                        <input type="checkbox" name="skillCategory" id="skillCategory" checked data-toggle="switch" data-id="9" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Sunduğunuz Hizmetler: </label>
                        <input type="checkbox" name="serviceState" id="serviceState" checked data-toggle="switch" data-id="2" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Çalışma Süreçlerin: </label>
                        <input type="checkbox" name="workProccesState" id="workProccesState" checked data-toggle="switch" data-id="3" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>İş Ortakların: </label>
                        <input type="checkbox" name="workPartnersState" id="workPartnersState" checked data-toggle="switch" data-id="4" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Hobilerin: </label>
                        <input type="checkbox" name="hobbiesState" id="hobbiesState" checked data-toggle="switch" data-id="5" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Çalışma Hayatın: </label>
                        <input type="checkbox" name="workHistoryState" id="workHistoryState" checked data-toggle="switch" data-id="6" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Eğitim Hayatın: </label>
                        <input type="checkbox" name="educationState" id="educationState" checked data-toggle="switch" data-id="7" data-value="true">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Referansların: </label>
                        <input type="checkbox" name="testimonialState" id="testimonialState" checked data-toggle="switch" data-id="8" data-value="true">
                    </div>
                    <hr />
                    @*<div class="form-group">
                        <label>xxx :</label>
                        <input type="checkbox" name="workState" id="workState" checked data-toggle="switch" data-id="1" data-value="true">
                    </div>
                    <hr />*@
                </div>
                <!-- /.card-body -->
            </div>

        </div>

        <div class="col-md-9">
            <!--User Resumeİnfo Get Card Start-->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Genel Bilgiler</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form id="resumeForm">
                        <div class="row">
                            <div class="col-md-6">

                                <!--name-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">İsim</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="İsim Giriniz">
                                </div>
                                <!--Mail-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mail</label>
                                    <input type="email" class="form-control" id="mail" name="mail" placeholder="Mail Giriniz">
                                </div>

                            </div>
                            <div class="col-md-6">

                                <!--surname-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Soyisim</label>
                                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Soyisim Giriniz">
                                </div>
                                <!--phone-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telefon</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Telefon Giriniz">
                                </div>

                            </div>
                            <div class="col-md-12">
                                <!--location-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Lokasyon</label>
                                    <input type="text" class="form-control" id="location" name="location" placeholder="Lokasyon Giriniz">
                                </div>
                                <!--title-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ünvan</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Ünvan Giriniz">
                                </div>
                                <!--titleDescription-->
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Özet Ünvan Açıklaması</label>
                                    <input type="text" class="form-control" id="titleDescription" name="titleDescription" placeholder="Kısa Bir Ünvan Açıklaması Giriniz">
                                </div>
                                <!--resumeAbout-->
                                <div class="form-group">
                                    <label>Hakkınızda</label>
                                    <textarea class="form-control" rows="3" id="resumeAbout" name="resumeAbout" placeholder="Kendinizden Bahsedin"></textarea>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" id="updateButton">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Resumeİnfo Get Card Finish-->
            <!--User skillCategory List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Yeteneklerin</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addSkillCategory">Yenetenek Başlığı Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="skillCategory-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User skillCategory List Card Finish-->
            <!--User Service List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Sunduğunuz Hizmetler</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addService">Hizmet Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="service-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Service List Card Finish-->
            <!--User Procces List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Çalışma Süreçlerin</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addProcces">Süreç Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="procces-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Procces List Card Finish-->
            <!--User Partners List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">İş Ortakların</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addPartners">Ortak Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="partners-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Partners List Card Finish-->
            <!--User Hobbies List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Hobilerin</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addHobbies">Hobi Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="hobbie-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Hobbies List Card Finish-->
            <!--User wHistory List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Çalışma Hayatın</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addHistory">Tecrübe Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="history-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User wHistory List Card Finish-->
            <!--User Education List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Eğitim Hayatın</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addEducation">Eğitim Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="education-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Education List Card Finish-->
            <!--User Testimonial List Card Start-->
            <div class="card card-outline card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Referansların</h3>

                    <div class="card-tools">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addTestimonial">Referans Ekle</button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row" id="testimonial-cards">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!--User Testimonial List Card Finish-->



        </div>
    </div>
</div>

<!--User Image Update Modal Start-->
<div class="modal fade" id="modal-imageResume">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Özgeçmiş Resim Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputFile">Özgeçmiş Resim Güncelle</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="resumeImage" name="resumeImage">
                            <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-upload"></i></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" id="saveResumeImage" class="btn btn-success">Resmi Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Image Update Modal Finish-->
<!--User CV Update Modal Start-->
<div class="modal fade" id="modal-cv">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Özgeçmiş Cv Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputFile">Cv Güncelle</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="resumeCv" name="resumeCv">
                            <label class="custom-file-label" for="exampleInputFile">Cv Seçin(PDF)</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-upload"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" id="saveResumeCv" class="btn btn-success">Cv Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User CV Update Modal Finish-->
<!--User skillCategory Add Modal Start-->
<div class="modal fade" id="modal-addSkillCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yetenek Seti Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hobbie-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">

                    <div class="form-group">
                        <label for="title">Yetenek Seti Adı:</label>
                        <input type="text" class="form-control" id="SCName" name="SCName" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addSkillCategoryButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User skillCategory Add Modal Finish-->
<!--User skillCategory Update Modal Start-->
<div class="modal fade" id="modal-updateSkillCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yetenek Seti Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-skillCategory-form">
                <div class="modal-body">
                    <input type="hidden" id="SCID" name="SCID" />

                    <div class="form-group">
                        <label for="title">Yetenek Seti Adı:</label>
                        <input type="text" class="form-control" id="SCNameU" name="SCNameU" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User skillCategory Update Modal Finish-->
<!--User skill Add Modal Start-->
<div class="modal fade" id="modal-addSkill">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yetenek Ekleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-skill-form">
                <div class="modal-body">
                    <input type="hidden" id="SCIDFK" name="SCID" />

                    <div class="form-group">
                        <label for="title">Yetenek Adı:</label>
                        <input type="text" class="form-control" id="SkillName" name="SkillName" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Yetenek Yüzdesi:</label>
                        <input type="number" class="form-control" id="SkillDegre" name="SkillDegre" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User skill Add Modal Finish-->
<!--User Service Add Modal Start-->
<div class="modal fade" id="modal-addService">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sundugunuz Hizmet Ekleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="service-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Hizmet Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ServiceImage" name="ServiceImage">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Hizmet İsmi</label>
                        <input type="text" class="form-control" id="ServiceName" name="ServiceName" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Hizmet Açıklaması</label>
                        <textarea class="form-control" id="ServiceDescription" name="ServiceDescription" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addServiceButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Service Add Modal Finish-->
<!--User Service Update Modal Start-->
<div class="modal fade" id="modal-updateService">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sundugunuz Hizmet Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-service-form">
                <div class="modal-body">
                    <input type="hidden" id="ServiceID" name="ServiceID" />
                    <div class="form-group">
                        <label for="exampleInputFile">Hizmet Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ServiceImageU" name="ServiceImageU">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Güncel Logo&Resim</label>
                        <img id="ServiceImageVU" class="img-circle img-fluid" height="50" width="50" />
                    </div>
                    <div class="form-group">
                        <label for="title">Hizmet İsmi</label>
                        <input type="text" class="form-control" id="ServiceNameU" name="ServiceNameU" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Hizmet Açıklaması</label>
                        <textarea class="form-control" id="ServiceDescriptionU" name="ServiceDescriptionU" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Service Update Modal Finish-->
<!--User Procces Add Modal Start-->
<div class="modal fade" id="modal-addProcces">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Çalışma Süreci Ekleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="service-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Süreç Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="WpImage" name="WpImage">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Süreç Adı</label>
                        <input type="text" class="form-control" id="WpName" name="WpName" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Süreç Sırası</label>
                        <input type="number" class="form-control" id="WpOrder" name="WpOrder" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addProccesButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Procces Add Modal Finish-->
<!--User Procces Update Modal Start-->
<div class="modal fade" id="modal-updateProcces">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Çalışma Süreci Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-procces-form">
                <div class="modal-body">
                    <input type="hidden" id="WorkProcesID" name="WorkProcesID" />
                    <div class="form-group">
                        <label for="exampleInputFile">Süreç Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="WpImageU" name="WpImageU">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Güncel Logo&Resim</label>
                        <img id="WpImageVU" class="img-circle img-fluid" height="50" width="50" />
                    </div>
                    <div class="form-group">
                        <label for="title">Süreç İsmi</label>
                        <input type="text" class="form-control" id="WpNameU" name="WpNameU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Süreç Sırası</label>
                        <input type="number" class="form-control" id="WpOrderU" name="WpOrderU" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Procces Update Modal Finish-->
<!--User Partners Add Modal Start-->
<div class="modal fade" id="modal-addPartners">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">İş Ortağı Ekleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="partners-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Ortak Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="WpsLogo" name="WpsLogo">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Ortak Adı</label>
                        <input type="text" class="form-control" id="WpsName" name="WpsName" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addPartnersButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Partners Add Modal Finish-->
<!--User Partners Update Modal Start-->
<div class="modal fade" id="modal-updatePartners">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">İş Ortağı Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-partners-form">
                <div class="modal-body">
                    <input type="hidden" id="WorkPartnersID" name="WorkPartnersID" />
                    <div class="form-group">
                        <label for="exampleInputFile">Ortak Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="WpsLogoU" name="WpsLogoU">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Güncel Logo&Resim</label>
                        <img id="WpsLogoVU" class="img-circle img-fluid" height="50" width="50" />
                    </div>
                    <div class="form-group">
                        <label for="title">Ortak İsmi</label>
                        <input type="text" class="form-control" id="WpsNameU" name="WpsNameU" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Partners Update Modal Finish-->
<!--User Hobbies Add Modal Start-->
<div class="modal fade" id="modal-addHobbies">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hobi Ekleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hobbie-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Hobi Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="HobbieImage" name="HobbieImage">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Hobi Adı</label>
                        <input type="text" class="form-control" id="HobbieName" name="HobbieName" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addHobbiesButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Hobbies Add Modal Finish-->
<!--User Hobbies Update Modal Start-->
<div class="modal fade" id="modal-updateHobbies">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hobi Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-hobbie-form">
                <div class="modal-body">
                    <input type="hidden" id="HobbieID" name="HobbieID" />
                    <div class="form-group">
                        <label for="exampleInputFile">Hobi Logo&Resim</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="HobbieImageU" name="HobbieImageU">
                                <label class="custom-file-label" for="exampleInputFile">Resim Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Güncel Logo&Resim</label>
                        <img id="HobbieImageVU" class="img-circle img-fluid" height="50" width="50" />
                    </div>
                    <div class="form-group">
                        <label for="title">Hobi İsmi</label>
                        <input type="text" class="form-control" id="HobbieNameU" name="HobbieNameU" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Hobbies Update Modal Finish-->
<!--User WorkHistory Add Modal Start-->
<div class="modal fade" id="modal-addHistory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tecrübe Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hobbie-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="date" class="form-control" id="StartDate" name="StartDate" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Çıkış Tarihi</label>
                        <input type="date" class="form-control" id="FinishDate" name="FinishDate" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Pozisyon</label>
                        <input type="text" class="form-control" id="WorkTitle" name="WorkTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Şirket İsmi</label>
                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Çalışma Açıklaması</label>
                        <textarea class="form-control" rows="3" id="WorkDescription" name="WorkDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addHistoryButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User WorkHistory Add Modal Finish-->
<!--User WorkHistory Update Modal Start-->
<div class="modal fade" id="modal-updateHistory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tecrübe Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-history-form">
                <div class="modal-body">
                    <input type="hidden" id="WorkHistoryID" name="WorkHistoryID" />
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="date" class="form-control" id="StartDateU" name="StartDateU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Çıkış Tarihi</label>
                        <input type="date" class="form-control" id="FinishDateU" name="FinishDateU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Pozisyon</label>
                        <input type="text" class="form-control" id="WorkTitleU" name="WorkTitleU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Şirket İsmi</label>
                        <input type="text" class="form-control" id="CompanyNameU" name="CompanyNameU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Çalışma Açıklaması</label>
                        <textarea class="form-control" rows="3" id="WorkDescriptionU" name="WorkDescriptionU"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User WorkHistory Update Modal Finish-->
<!--User Education Add Modal Start-->
<div class="modal fade" id="modal-addEducation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eğitim Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hobbie-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="date" class="form-control" id="StartDateE" name="StartDateE" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bitirme Tarihi</label>
                        <input type="date" class="form-control" id="FinishDateE" name="FinishDateE" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bölümü</label>
                        <input type="text" class="form-control" id="EducationBranch" name="EducationBranch" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Okul İsmi</label>
                        <input type="text" class="form-control" id="SchoolName" name="SchoolName" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Eğitim Açıklaması</label>
                        <textarea class="form-control" rows="3" id="EducationDescription" name="EducationDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addEducationButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Education Add Modal Finish-->
<!--User Education Update Modal Start-->
<div class="modal fade" id="modal-updateEducation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eğitim Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-education-form">
                <div class="modal-body">
                    <input type="hidden" id="EducationID" name="EducationID" />
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="date" class="form-control" id="StartDateEU" name="StartDateEU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bitirme Tarihi</label>
                        <input type="date" class="form-control" id="FinishDateEU" name="FinishDateEU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bölümü</label>
                        <input type="text" class="form-control" id="EducationBranchU" name="EducationBranchU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Okul İsmi</label>
                        <input type="text" class="form-control" id="SchoolNameU" name="SchoolNameU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Eğitim Açıklaması</label>
                        <textarea class="form-control" rows="3" id="EducationDescriptionU" name="EducationDescriptionU"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Education Update Modal Finish-->
<!--User Testimonial Add Modal Start-->
<div class="modal fade" id="modal-addTestimonial">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eğitim Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="hobbie-form">
                <input type="text" hidden value="1" id="ResumeID" name="ResumeID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="text" class="form-control" id="TName" name="TName" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bitirme Tarihi</label>
                        <input type="text" class="form-control" id="TCompany" name="TCompany" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Eğitim Açıklaması</label>
                        <textarea class="form-control" rows="3" id="TDescription" name="TDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" id="addTestimonialButton" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Testimonial Add Modal Finish-->
<!--User Testimonial Update Modal Start-->
<div class="modal fade" id="modal-updateTestimonial">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Referans Güncelleme</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="update-testimonial-form">
                <div class="modal-body">
                    <input type="hidden" id="TestimonialID" name="TestimonialID" />
                    <div class="form-group">
                        <label for="title">Başlama Tarihi</label>
                        <input type="text" class="form-control" id="TNameU" name="TNameU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Bitirme Tarihi</label>
                        <input type="text" class="form-control" id="TCompanyU" name="TCompanyU" required>
                    </div>
                    <div class="form-group">
                        <label for="title">Eğitim Açıklaması</label>
                        <textarea class="form-control" rows="3" id="TDescriptionU" name="TDescriptionU"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--User Testimonial Update Modal Finish-->
<script src="~/js/ResumeSettings.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init();
        getResumeData();
        getServiceData();
        getProccesData();
        getPartnersData();
        getHobbiesData();
        getHistoryData();
        getEducationData();
        getSkillCategoryData();
        getTestimonialData();
    });
</script>


